/* STYLE.CSS 
for the UVic AI Club website.
Created by the UVic AI Club
Sept 2019 */

/*GLOBAL PARAMETERS*/
html, body{
  background-color: #ffffffff;
  height: 98%;
}

header{
  background: black;
  padding: 0px;
}

main{
  min-height: 100%;
}

footer{
  color: white;
  background: black;
  text-align-last: right;
  padding-right: 15px;
  margin-top: 0px
}

div{
  text-align: center;
}

/*These are the paremeters for the navigation bar*/
nav{
  }

nav ul{
  padding: 5px;
  padding-top:5px;
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

nav a{
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
}

nav a:hover{
  color: grey;
  text-decoration: bold;
}

/*These are the paremeters for the text*/
p{ 
  color: black;
  text-size-adjust: none;
  font-family: sans-serif, serif;
  text-align: left;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

h1{
  text-align: center;
  font-size: 20px;
}

h2{
  text-size-adjust: none;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  color: black;
  text-decoration: bold;
}

h5{ /*Footer font*/
  text-size-adjust: none;
  font-family:times new roman;
  font-size: 25px;
  text-align: center;
  color: white;
}

/* TABLES, FORMS AND BUTTONS */
th{
  font-size: 20px;

}

td{
  font-size: 18px;
  text-align: center;
}

form{
  text-align: center;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*input.thumb_up{
  background: url('../images/thumb_up.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

input.thumb_down{
  background: url('../images/thumb_down.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}*/

input[type="button"]{
  outline:none;

}

/*CONTAINERS*/
.link_bar{
  background: black;
}

.banner{
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.winner{
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container{
  min-height: 89%;
}

.bottom_header {
  text-align-last: right;
  padding-right: 15px;
  bottom: 0;
}
